@charset "UTF-8";
body {
  font-family: sans-serif;
  color: white;
  background-color: rgb(16, 22, 22);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

header.navbar {
  height: 100px;
  background-color: rgb(16, 22, 22);
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  z-index: 1000;
  margin: 10px;
}

.custom-header {
  background-color: rgb(16, 22, 22);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  height: 100px;
}

.navbar-nav .nav-link {
  color: white;
  padding-right: 20px;
  font-weight: 600;
}
.navbar-nav .nav-link:hover {
  color: rgb(59, 167, 59);
  transition: all 0.4s ease !important;
  transform: translateX(-5px);
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.video-container {
  width: 100%;
  background-clip: border-box;
  height: auto;
  overflow: hidden;
}

video {
  width: 100%;
  height: auto;
}

.carousel {
  display: flex;
  padding-top: 100px;
  margin: 20px auto;
  max-width: 800px;
}
.carousel .carousel-item img {
  display: flex;
  width: 100%;
  height: auto;
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  display: none;
}

.diseño-web-contaier {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 180px;
}

.diseño,
.requisitos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  background-color: rgb(16, 22, 22);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  padding: 10px;
  width: 45%;
}
.diseño img,
.requisitos img {
  max-width: 100%;
  height: auto;
  margin-right: 15px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
button:hover {
  background-color: rgb(59, 167, 59);
}

.consultoria-marketing-container {
  max-width: 800px;
  margin: 160px auto 0;
  padding: 20px;
  text-align: center;
}

.dominio,
.archivos-sitio-web,
.hosting-servidor {
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  text-align: justify;
}

.clientes-container {
  max-width: 800px;
  margin: 150px auto 0;
  padding: 30px;
  text-align: center;
}

.clientes-img {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  margin: 50px;
  padding: 30px;
}
.clientes-img img {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.ver-mas {
  text-align: center;
}

.historia-container {
  max-width: 800px;
  margin: 150px auto 0;
  padding: 30px;
  text-align: center;
}

.historia {
  margin-top: 50px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  text-align: justify;
}

.contactos-container {
  max-width: 900px;
  margin: 150px auto 0;
  padding: 30px;
  text-align: center;
}

.form-contanier {
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  max-width: 500px;
  background-color: rgb(59, 167, 59);
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-left: 35%;
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

input[type=nombre],
input[type=email],
input[type=telefono],
input[type=asunto],
textarea {
  margin-left: 35%;
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

footer {
  margin: 0;
  padding-right: 20px;
  padding-top: 170px;
  height: 70px;
  background-color: rgb(16, 22, 22);
  align-items: center;
}

.footer-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0 auto;
  font-weight: 200;
  padding-left: 20px;
}

.footer-logo {
  display: flex;
  height: 50px;
}

.footer-legales {
  flex-direction: column;
  width: 25%;
  padding: 20px;
}

.social-link a {
  display: inline-block;
  min-height: 50px;
  width: 50px;
  color: black;
  background-color: rgb(255, 255, 255);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition: all 0.4s ease;
}
.social-link a:hover {
  background-color: rgb(59, 167, 59);
}

@media (max-width: 990px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-legales {
    width: 100%;
    margin-bottom: 30px;
  }
  .clientes-img img {
    width: 100%;
  }
  .diseño,
  .requisitos {
    width: 100%;
  }
}
@media (max-width: 990px) {
  .custom-collapse {
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    z-index: 999;
  }
  .navbar-nav {
    flex-direction: column;
    align-items: flex-end;
  }
  .navbar-nav .nav-link {
    padding: 10px 0;
    text-align: right;
    transition: all 0.4s ease;
  }
  .navbar-nav .nav-link:hover {
    color: rgb(59, 167, 59) !important;
    transform: translateX(-5px);
  }
}

/*# sourceMappingURL=estilos.css.map */
