<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C-MO</title>

    <link rel="stylesheet" href="../css/style.css" />
  </head>
  
  <body>
    <header>
      <a href="../index.html" class="logo">
        <img src="../assets/img/C-MO WHITE.png" alt="logo de la pagina"
      /></a>
      <nav>
        <ul>
          <li><a href="./diseñoWeb.html"> DISEÑO WEB</a></li>
          <li>
            <a href="./consultoriaDigital.html"> CONSULTORIA DIGITAL</a>
          </li>
          <li><a href="./clientes.html"> CLIENTES</a></li>
          <li><a href="./quienesSomos.html"> QUIENES SOMOS</a></li>
          <li><a href="./contacto.html"> CONTACTO</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="diseño-web-contaier">
        <section class="diseño">
          <img src="../assets/img/web-design.jpg" alt="imagen de diseño web">
            <div>
              <h2>Diseño de paginas web</h2>
              <p>Todo lo que necesitas saber para realizar y construir la pagina web que deseas.</p>
              <button>Mas Info</button>
            </div>
      </section>
      <section class="requisitos">
        <img src="../assets/img/your-design.jpg" alt="imagen de tu diseño">
        <div>
        <h2>Requisitos para crear mi pagina web</h2>
         <p>Una pagina web tiene varias partes que la coponen.
          Estaremos a tu lado para que todo cumpla con tus expectativas.
         </p>
         <button>Mas Info</button>
        </div>
     </section>
    </div>


    </main>

    <footer class="footer">
      <div class="footer-container">
          <div class="footer-links">
            <ul>
              <li><a href="#">Aviso Legal y Política de Privacidad</a></li>
              <li><a href="#">Política de Cookies</a></li>
              <li><a href="#">Todos los derechos reservados</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <div class="social-link">
              <a href="https://facebook.com" target="_blank">
                <i class="fa-brands fa-facebook-f"></i></a>
              <a href="https://instagram.com" target="_blank">
                <i class="fab fa-instagram"></i></a>
              <a href="https://whatsapp.com" target="_blank">
                <i class="fab fa-whatsapp"></i></a>
              <a href="https://linkedin.com" target="_blank">
                <i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <a href="../index.html" class="footer-logo">
          <img src="../assets/img/C-MO WHITE.png" alt="logo de la pagina"
        /></a>        
      </div>
    </footer>
  </body>
</html>
