<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C-MO</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header
      class="navbar navbar-expand-lg fixed-top px-4 custom-header"
    >
      <a href="../index.html" class="navbar-brand">
        <img
          src="../assets/img/C-MO WHITE.png"
          alt="logo de la pagina"
          height="50"
        />
      </a>

      <!-- Botón hamburguesa -->
      <button
        class="navbar-toggler text-white"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#menuNav"
        aria-controls="menuNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menú colapsable -->
      <nav class="collapse navbar-collapse justify-content-end custom-collapse" id="menuNav">
        <ul class="navbar-nav nav-list">
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="../views/disenoWeb.html">DISEÑO WEB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="../views/consultoriaDigital.html">CONSULTORÍA DIGITAL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="../views/clientes.html">CLIENTES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="../views/quienesSomos.html">QUIÉNES SOMOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="../views/contacto.html">CONTACTO</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="historia-container">
        <h1>Un poco de nuestra historia</h1>
        <section class="historia">        
        <p> Lorem ipsum odor amet, consectetuer adipiscing elit. Euismod quisque adipiscing diam iaculis lacinia diam diam aliquet orci. Purus metus ultricies orci sem conubia. Tellus finibus lacus risus mauris montes fringilla commodo penatibus. Purus eu a erat fermentum taciti imperdiet penatibus at. Commodo porttitor curae erat, porta mus nisi quis ut. Vehicula vel aenean nisi ultricies convallis vel non. Suscipit nibh mollis; arcu erat mi magnis. Non semper rhoncus amet fermentum netus ultricies.

          Vestibulum magna erat penatibus nibh, faucibus interdum sapien donec eu. Sapien a nascetur nunc diam ipsum. Placerat purus facilisis in dignissim feugiat. Leo porttitor quisque, donec luctus class ante. Praesent quam accumsan quisque tincidunt neque per nisi magna lorem. Nunc eleifend montes per molestie lacinia per. Leo duis euismod congue potenti lectus placerat euismod. Consequat commodo scelerisque sed nisl maximus nostra semper.
          
          Duis accumsan convallis vitae ipsum lacinia montes pellentesque nec. Gravida varius proin nascetur nam lectus tempor id. Taciti inceptos diam quis dictum massa. Finibus ultrices montes quam odio auctor torquent blandit cubilia. Magnis velit sit lorem egestas; est id inceptos dis. Ligula neque mollis rhoncus fermentum ad facilisis tortor.
          
          Eget a justo dolor sagittis; donec donec efficitur a. Euismod erat maecenas sapien faucibus tempus mollis est integer conubia. Commodo convallis luctus posuere euismod penatibus. Posuere penatibus quis efficitur sollicitudin, sed maecenas. Sollicitudin integer pellentesque nisl nisl elementum fusce, porttitor quisque. Donec curabitur eleifend semper ex eget tincidunt sollicitudin lobortis. Erat praesent elit aptent quis aenean nisi et in sem.
          
          Donec blandit luctus himenaeos ridiculus ultricies turpis sem. Taciti suspendisse ut sapien massa mattis montes per turpis. Ridiculus venenatis pulvinar velit at praesent dignissim. In curae rutrum libero; aliquet vivamus tincidunt. Mollis feugiat eros habitant efficitur etiam adipiscing mauris a class. Hendrerit iaculis aptent rhoncus mi eget. Lacinia finibus justo magnis sollicitudin ridiculus placerat hac dignissim a. Platea commodo montes molestie fringilla rutrum nascetur placerat!
        </p>
      </section>
      
    </main>

    <footer class="footer">
      <div class="footer-container">
          <div class="footer-legales">
            <ul>
              <li><a href="#">Aviso Legal y Política de Privacidad</a></li>
              <li><a href="#">Política de Cookies</a></li>
              <li><a href="#">Todos los derechos reservados</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <div class="social-link">
              <a href="https://facebook.com" target="_blank" rel="noopener" title="Visit our Facebook page">
                <i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com" target="_blank" rel="noopener" title="Visit our Instagram page">
                <i class="bi bi-instagram"></i></a>
              <a href="https://whatsapp.com" target="_blank" rel="noopener" title="Visit our WhatsApp page">
                <i class="bi bi-whatsapp"></i></a>
              <a href="https://linkedin.com" target="_blank" rel="noopener" title="Visit our LinkedIn page">
                <i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        <a href="../index.html" class="footer-logo">
          <img src="../assets/img/C-MO WHITE.png" alt="logo de la pagina"
        /></a>        
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
